@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header {
    background-color: black;
    margin: 0px 0px 0px 0px;
    padding: 50px;
}

header > h1 {
    color:white ;
    text-align: center;
    margin: 0px;
}

header > h3 {
    color: white;
    text-align: center;
    margin: 0px;
}

header > h3 > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

header > h3 > a:hover {
    text-decoration: underline;
}

p#foto {
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
}

footer > p {
    text-align: center;
    color: white;
    
}

footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer > p > a:hover {
    text-decoration: underline;
}